<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>artifax</title>

    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" />

    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/output.css" />
    <link rel="stylesheet" href="/stylesheets/custom.css" />
    <style>
      body {
        background-image: radial-gradient(#262626 2px, transparent 0);
        background-size: 20px 20px;
        background-position: -19px -19px;
      }
    </style>

    <!-- Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="flex h-screen w-full flex-col items-center justify-center bg-[#171717]"
    style="font-family: Inter, sans-serif"
  >
    <p class="text-3xl font-bold text-white">
      New <span class="text-emerald-500">chat</span>
    </p>

    <form
      action="/chats"
      method="POST"
      class="z-20 mt-4 w-[85%] rounded-2xl border border-[#3a3a3a] bg-[#171717] px-4 py-4 text-white lg:w-[30%]"
    >
      <div>
        <input
          type="text"
          name="title"
          class="w-full rounded-lg border border-accentLight2 bg-transparent px-3 py-2 transition duration-150 ease-in focus:border-sky-500 focus:outline-none"
          placeholder="Title"
        />
        <%- include('../partials/flash') %>
        <button
          type="submit"
          class="mt-4 flex w-full justify-center rounded-md bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90% py-2"
        >
          <p class="text-white">Create</p>
        </button>
      </div>
    </form>
  </body>
</html>
